/* Cesium Navigation Styles */

/* Variables as CSS custom properties */
:root {
  --default-font: 'Roboto', sans-serif;
  --highlight-color: #68adfe;
  --floating-background-color: rgba(47, 53, 60, 0.8);
  --floating-text-color: #ffffff;
  --floating-element-border: 1px solid #555555;
}

/* Core Styles */
.full-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  transition: left 0.25s ease-out;
}

.transparent-to-input {
  pointer-events: none;
}

.opaque-to-input {
  pointer-events: auto;
}

.clickable {
  cursor: pointer;
}

.cesium-widget-cesiumNavigationContainer {
  position: relative;
}

/* Floating Elements */
.floating {
  pointer-events: auto;
  position: absolute;
  border-radius: 15px;
  background-color: var(--floating-background-color);
}

.floating-horizontal {
  pointer-events: auto;
  position: absolute;
  border-radius: 15px;
  background-color: var(--floating-background-color);
  padding-left: 5px;
  padding-right: 5px;
}

.floating-vertical {
  pointer-events: auto;
  position: absolute;
  border-radius: 15px;
  background-color: var(--floating-background-color);
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Navigation Controls */
.navigation-controls {
  position: absolute;
  right: 30px;
  top: 210px;
  width: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation-control {
  cursor: pointer;
  border-bottom: var(--floating-element-border);
}

.navigation-control:active {
  color: #fff;
}

.navigation-control-last {
  cursor: pointer;
  border-bottom: 0;
}

.navigation-control-icon-zoom-in {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: var(--floating-text-color);
  padding-bottom: 4px;
}

.navigation-control-icon-zoom-out {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: var(--floating-text-color);
}

.navigation-control-icon-reset {
  position: relative;
  left: 10px;
  width: 10px;
  height: 10px;
  fill: rgba(255, 255, 255, 0.8);
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: content-box;
}

/* Compass */
.compass {
  pointer-events: auto;
  position: absolute;
  right: 0px;
  top: 100px;
  width: 95px;
  height: 95px;
  overflow: hidden;
}

.compass-outer-ring {
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  fill: rgba(255, 255, 255, 0.5);
}

.compass-outer-ring-background {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  border: 12px solid var(--floating-background-color);
  box-sizing: content-box;
}

.compass-gyro {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  fill: #ccc;
}

.compass-gyro-active {
  fill: var(--highlight-color);
}

.compass-gyro-background {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background-color: var(--floating-background-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: content-box;
}

.compass-gyro-background:hover + .compass-gyro {
  fill: var(--highlight-color);
}

.compass-rotation-marker {
  position: absolute;
  top: 0;
  width: 95px;
  height: 95px;
  fill: var(--highlight-color);
}

/* Distance Legend */
.distance-legend {
  pointer-events: auto;
  position: absolute;
  border-radius: 15px;
  background-color: var(--floating-background-color);
  padding-left: 5px;
  padding-right: 5px;
  right: 25px;
  bottom: 30px;
  height: 30px;
  width: 125px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: content-box;
}

.distance-legend-label {
  display: inline-block;
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: lighter;
  line-height: 30px;
  color: var(--floating-text-color);
  width: 125px;
  text-align: center;
}

.distance-legend-scale-bar {
  border-left: 1px solid var(--floating-text-color);
  border-right: 1px solid var(--floating-text-color);
  border-bottom: 1px solid var(--floating-text-color);
  position: absolute;
  height: 10px;
  top: 15px;
}

/* Responsive */
@media screen and (max-width: 700px), screen and (max-height: 420px) {
  .navigation-controls,
  .compass,
  .distance-legend {
    display: none;
  }
}

@media print {
  .navigation-controls,
  .compass,
  .distance-legend,
  .floating {
    display: none;
  }
  
  .full-window {
    position: initial;
  }
}
